@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@400;500;600;700&display=swap");
/* 
font-family: 'Bebas Neue', sans-serif;
font-family: 'Noto Sans', sans-serif;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}

/* Css Fotter & Nav General */

body {
  background-image: url(./images/rsz_2pexels-adrien-olichon-1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.Global-Header {
  display: flex;
  width: 100%;
  border-top: 5px solid #fe4a49;
  border-bottom: 5px solid #fe4a49;
  padding: 1em;
  background-color: #009fb7;
}


.navbar {
  display: flex;
  align-items: center;
}

.navbar > .list-container > .list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  height: auto;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
  transition: all 1s;
  gap: 25px;
}

.navbar > .list-container > .list > li > a{
  margin-left: 100px;
  text-align: center;
}

.navbar > .list-container > .list > li > a:hover {
  transform: scale(1.5);
  color: #009fb7;
  background-color: #333;
  border-radius: 7px;
  padding: 10px;
  border-right: solid 5px #fed766;
  border-bottom: solid 5px #fed766;
}

.navbar > .logo > .home-img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  transition: all 300ms;
  box-shadow: 8px 4px 4px #333;
  transition: all 2s;
}

.navbar > .logo > .home-img:hover {
  display: flex;
  position: absolute;
  width: 750px;
  height: 750px;
}

/* img contacts projects */
.navbar > .logo > img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  transition: all 300ms;
  box-shadow: 8px 4px 4px #333;
}

.Global-Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  gap: 120px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
  border-top: 5px solid #fe4a49;
  border-bottom: 5px solid #fe4a49;
  padding: 20px;
  background-color: #009fb7;
}

/* Components Home CSS */

.Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  font-size: 24px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  padding: 3em;
}

.Home-2 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  padding: 3em;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  padding-bottom: 5px;
  box-shadow: 12px 10px 8px #fe4a49;
}

.title-2 {
  text-align: center;
  font-size: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  padding-bottom: 5px;
  box-shadow: 12px 10px 8px #fe4a49;
}

.sub-title {
  text-align: center;
  font-size: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #fe4a49;
}

.introduction {
  text-align: justify;
  margin-bottom: 1rem;
  text-indent: 2%;
  margin-right: 20px;
}

.about {
  text-align: justify;
  text-indent: 2%;
  height: 100%;
  font-size: 22px;
}

.about > p {
  margin-bottom: 1rem;
  margin-right: 20px;
}

.about-2 {
  text-align: justify;
  text-indent: 2%;
  height: 100%;
}

.about-2 > p {
  margin-bottom: 1rem;
}

/* .images {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 10px 8px #fed766;
  width: 100%;
}

.img-I {
  border-radius: 50%;
  box-shadow: 10px 8px 6px #fed766;
  opacity: 0.8;
  transition: all 300ms;
  width: 70%;
}

.img-I:hover {
  opacity: 1;
  transform: scale(1.1);
} */

/* Components Projects CSS */

.Projects {
  max-width: 100%;
  height: auto;
}

.title-p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 2.5em;
  font-family: "Noto Sans", sans-serif;
}
.title-p > .pc-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #fe4a49;
  box-shadow: 4px 4px 4px #e6e6ea;
  padding: 15px;
}

.W-project {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #e6e6ea;
  padding: 15px;
  text-align: center;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3em;
  margin: 3rem 3rem;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: solid 1em #009fb7;
  margin-bottom: 3em;
  box-shadow: 12px 6px 6px #e6e6ea;
}

.with {
  margin: 0 auto;
  max-width: 100%;
  opacity: 0.7;
}

.with:hover {
  opacity: 1;
}

.project-title {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #e6e6ea;
  padding: 15px;
  transition: all 400ms;
  background-color: transparent;
  margin-left: 50px;
}

.project-title:hover {
  transform: scale(1.5);
}

.enlace {
  margin: 0 auto;
  max-width: 100%;
}

.sect-projects{
  display: flex;
  align-items: center;
}

/* My Logos*/

#Logo {
  display: flex;
  justify-content: center;
  padding: 5em 5em;
  width: 100vw;
  height: auto;
}

.My-Logo > p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

.My-Logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

/* Log Dev */

.dev-img {
  text-align: center;
  
}

.logos-dev{
  width: 105px;
  height: 105px;
  margin: 25px;
  
}


.next-border {
  border-radius: 50px;
}
/* Components Contact CSS */

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.title-c {
  display: grid;
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.title-c > p {
  font-family: "Noto Sans", sans-serif;
  font-size: 6rem;
  color: #e6e6ea;
  text-align: center;
}

.span > span {
  display: grid;
  grid-area: 1/2;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  color: #e6e6ea;
}

.icons {
  margin-top: 70px;
}

.container-icons {
  display: grid;
  grid-template-columns: repeat(5,20%);
  grid-column: 3/5;
  gap: 120px;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 3rem;
  width: 100%;
}


/* Add component */
.card {
  box-shadow: 0 4px 8px 15px #fed766;
  max-width: 500px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  }

.card > h1 {
  color: #222;
}

.card > p {
  color: #222;
  font-weight: 700;
}

.title-component {
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #222;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;

}

a > i{
  text-decoration: none;
  font-size: 22px;
  color: black;
  
}

button:hover, a:hover {
  opacity: 0.7;
}

/* Media Querys */

@media (max-width: 1580px) {
  .Home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
  .projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .images {
    display: flex;
    justify-content: center;
    width: 80%;
    border: none;
    margin-top: 0;
  }

  .img-I {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 50%;
    margin-top: 0;
    margin-bottom: 2em;
  }

}

@media (max-width: 1000px) {
  .Global-Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .images {
    display: flex;
    justify-content: center;
  }

  .img-I {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 80%;
  }

  .title-c > p {
    font-size: 5rem; 
  }

  .container-icons{
    gap: 100px;
  }

}

@media (max-width: 800px) {
  .Home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-I {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .title-c > p {
    font-size: 4rem; 
  }

  .container-icons{
    gap: 80px;
  }

  
}


@media (max-width: 850px) {
  .Home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-I {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .title-c > p {
    font-size: 3.5rem; 
  }

  .container-icons{
    gap: 60px;
  }
}

